/*
 * Custom styles for the YUIDoc Bootstrap Theme
 * Authors: kevinlacotaco
 *          tonybaroneee
 */

/* -- Navigation Bar -------------------------------------------------------- */

.navbar .navbar-inner .brand {
    height: 40px;
    margin: 0;
    padding: 0 5px 0 10px;
    cursor: default;
}

.navbar-text {
    font-size: 12px;
    padding-left: 5px;
    cursor: default;
}

.navbar-form {
    margin-right: 3px;
}

#options-form {
    margin-top: 20px;
    padding-right: 20px;
}

/* -- Sidebar --------------------------------------------------------------- */

#sidebar .tab-content {
    border: 1px solid #DFDFDF;
    border-top: 0px;
    padding-bottom: 5px;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
}

#api-tabview-filter input {
    width: 94.5%;
}

#sidebar .tab-pane li a {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#sidebar .tab-pane li a:hover,
#sidebar .tab-pane li a:focus {
    outline: 0;
    border: 0;
    text-decoration: none;
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
    background-color: #0088cc;
}

/* -- Content --------------------------------------------------------------- */

#docs-main {
    margin-top: 65px;
}

.content {
    padding-bottom: 50px;
}

.content .page-header h1 small {
    padding-left: 5px;
}

.content .well:not(.moduledesc) p {
    margin: 9px 0;
}

